{
  "log": { "level": "info" },
  "inbounds": [{
    "type": "vless",
    "tag": "vless-in",
    "listen": "::",
    "listen_port": 8080,
    "users": [{ "uuid": "ad103d9c-6ab3-41d2-887d-41c33850aebc" }],
    "transport": { "type": "ws", "path": "/chat" }
  }],
  "outbounds": [{ "type": "direct", "tag": "direct" }]
}
